


h1 {
    color: #383838;
    font-size: 66px;
    font-family: "Arial";
    padding-left: 40%;
    padding-bottom: 2vh;
    font-weight: bolder;
    padding-top: 20vh;
}

.body {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #ffffff;
}

.button {
    margin-top: 10px;
    background-color: #71cbff; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.button:hover{
    color: #0B0B61;
    transition: all 0.5s ease-in;
}
.searchform {
    padding-left: 10%;
    padding-right: 10%;
}
.menu {
    float: top;
    list-style: none;
    padding-left: 48px;
}
.menu li {
    display: inline-block;
}
.menu li a{
    color: (50,50,50);
    padding: 5px 20px;
    font-size: 14px;
    fill: #000000 opacity 0.15;

}

